<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCo1g58aCXPxFUlYFjeORoEND9_D3IihvU</string>
	<key>GCM_SENDER_ID</key>
	<string>926729835843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Brassard.ComicBookGradingApp</string>
	<key>PROJECT_ID</key>
	<string>comic-grading</string>
	<key>STORAGE_BUCKET</key>
	<string>comic-grading.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926729835843:ios:6244c939d8e84f40754bf6</string>
</dict>
</plist>